* {
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  width: min(65ch, 100% - 4rem);
  margin: auto;
}

a {
  color: steelblue;
}

img {
  display: block;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

header h2 a {
  color: #fff;
  text-decoration: none;
}

header nav {
  display: flex;
}
header nav a {
  padding-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

form input {
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
}

form input[type='submit'] {
  background-color: steelblue;
  color: #fff;
  border: transparent;
}

form input[type='text'] {
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: light) {
  header h2 a {
    color: black;
  }
  form input[type='text'] {
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
}
