{{ $baseurl := .Site.BaseURL }}

<form id="searchForm">
  <input type="text" id="searchInput" />
  <input type="submit" value="Search" />
</form>

<section id="searchResults"></section>

<script src="https://unpkg.com/lunr/lunr.js"></script>

<script>
  (async () => {
    const searchForm = document.querySelector('#searchForm');
    const searchInput = document.querySelector('#searchInput');
    const searchResults = document.querySelector('#searchResults');

    const url = '{{ $baseurl }}/index.json';
    const response = await fetch(url);
    const data = await response.json();
    const idx = lunr(function() {
      this.ref('url');
      this.field('title');
      this.field('content');

      data.forEach(function(doc) {
        this.add(doc);
      }, this);
    });

    searchForm.addEventListener('submit', e => {
      e.preventDefault();
      searchResults.innerHTML = '';
      const results = idx.search(searchInput.value);
      results.forEach(result => {
        const {url, title, summary} = data.find(d => d.url == result.ref);
        const div = document.createElement('div');
        const html = `
    <h4><a href="${url}">${title}</a></h4>
    <p>${summary}</p>`;
        div.innerHTML = html;
        searchResults.appendChild(div);
      });
    });
  })();
</script>
